section.offers{
    
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    

    gap: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-bottom: 5em;
}