@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

 a{
    text-decoration: none;
    color: black;
}
.navigation{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
header{
    border: 1px solid black;
    width: 100%;
    background-color: #000;
   
}
header div.logo{
    display: block;
    padding: 1em;
   
}
h1{
    font-size: 4em;
    margin-bottom: 2em;
    color: #fff;
}

header nav,header nav ul{
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
  
}
.logo img{
    max-width: 4em;
    max-height: 4em;
    border-radius: 50%;
}

header nav li{
    text-decoration: none;
    
    padding: 1em;
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    font-family: "Oleo Script",sans-serif;
}
header nav li a{
    color: #fff;
    font-family: "Oleo Script",sans-serif;
}

.mainSection{
    background-image: url(https://images.unsplash.com/photo-1579551813772-a55dd7f9cb42?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
height: 40rem;
background-position: center;
}
.mainSection{
    align-items: center;
    text-align: center;
}
.mainSectionTemp{
    padding: 4em 2em;
}

.mainSectionTemp p {
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 4em;
}
.mainSectionTemp button{
    padding: 1em;
    font-size: 1.2em;
    border-radius: 0.5em;
    font-weight: bold;
    font-family: inherit;
}

footer{
    text-align: center;
    padding: 2em;
    color: #fff;
    background-color: #000;
}